*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #131314;
    color: #ebebeb;
    font-family: "Google Sans Flex", sans-serif;
}


/* Styling Header */

#header{
    width: 100%;
}

nav{
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.brand-name #gradkey{
    text-decoration: none;
    font-size: 25px;
    color: #ebebeb;
    font-weight: 600;
    letter-spacing: 0.35px;
}

.navlinks{
    display: flex;
    align-items: center;
    gap: 25px;
}

.navlinks a{
    text-decoration: none;
    font-size: 15px;
    color: #bbbbbb;
    font-weight: 500;
    letter-spacing: 0.2px;
    transition: all 0.2s ease;
}

.navlinks a:hover{
    color: #ffffff;
}

.navlinks .active-link{
    color: #fff;
}

#menuIcon {
    display: none;
    font-size: 23px;
    color: #ebebeb;
    cursor: pointer;
    transition: 0.2s ease;
}

/* Mobile Menu */

.mobile-menu{
    position: fixed;
    top: 0;
    right: -270px;
    width: 250px;
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 60px 20px;
    transition: right 0.3s ease;
    z-index: 1000;
}

.mobile-menu a{
    text-decoration: none;
    font-size: 15px;
    padding: 13px 10px;
    border-radius: 6px;
    color: #bbbbbb;
    font-weight: 500;
    transition: all 0.2s ease;
}

.mobile-menu a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.mobile-menu .active-link{
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.mobile-menu #closeMenu{
    position: absolute;
    top: 16px;
    right: 15px;
    font-size: 26px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    display: none;
    z-index: 900;
}

.mobile-menu.active {
    right: 0;
}

.overlay.active {
    display: block;
}

/* Styling Hero Section */

#hero{
    width: 100%;
}

.container{
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 40px;
    border-bottom: 1px solid #3e3e3e;
}

.gradient-display{
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 170px 0;
    border-radius: 15px;
    background-image: linear-gradient(to right, #0a7a63, #9b0f12);
}

.gradient-display i{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: #ebebeb;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 8px;
    border-radius: 50%;
    margin: 10px 10px 0 0;
    cursor: pointer;
    transition: all 0.1s ease;
}

.gradient-display i:hover{
    background-color: rgba(255, 255, 255, 0.35);
}

.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

button{
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    color: #eeeeee;
    background-color: #1e1e1e;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    transition: all 0.2s ease;
    letter-spacing: 0.35px;
    cursor: pointer;
    user-select: none;
}

button:hover{
    background-color: #2b2b2b;
}

.copyCode{
    max-width: 475px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    padding: 14px 18px;
    margin: 10px 0;
    font-family: monospace;
    font-size: 14px;
    color: #f1f1f1;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.copyCode:hover{
    background: rgba(255, 255, 255, 0.08);
}

.copyCode i{
    font-size: 20px;
    opacity: 0.8;
    transition: 0.2s ease;
}

.copyCode:hover i{
    opacity: 1;
}

/* Footer Styling */

#footer{
    width: 100%;
    padding: 21px 0;
}

.footer-container{
    max-width: 768px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 10px;
    font-size: 14px;
    color: #bbbbbb;
}

.footer-container p{
    margin: 0;
}

.social-links a{
    color: #bbbbbb;
    margin-left: 15px;
    font-size: 18px;
    transition: all 0.2s ease;
}

.social-links a:hover{
    color: #fff;
}

/* RESPONSIVE */

@media (max-width: 768.99px) {
    nav{
        padding: 18px 28px;
    }

    .brand-name #gradkey{
        font-size: 23px;
    }

    .navlinks{
        display: none;
    }

    #menuIcon{
        display: block;
    }

    .container{
        padding: 26px 28px;
    }

    .button-div{
        gap: 24px;
    }

    .gradient-display{
        width: 100%;
        padding: 150px 0;
    }
    
    #footer{
        padding: 20px 0;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 28px;
    }

}